<html ng-app="demoApp">
  <head>

  </head>
<body>

<div ng-controller="FirstController">
  <input type="text" ng-change="change()" ng-model="name" placeholder="What is your name?">
      <h1>My name is: {{name}}</h1>
</div>

<p ng-hide="name==='hide'">Type to hide me</p>

<p>{{ '20140313T00:00:00' | date:'MM/dd/yyyy'}}</p>

<p>{{ 7849 | currency }}</p>

 <div ng-init="parks=['Yosemite','Yellowstone', 'Glacier' ,'Denali', 'Joshua Tree']"></div>

 <p>{{ parks }}</p>

 <ul>
  <li ng-repeat='park in parks | filter:query'>{{ park }}</li>
</ul>

<p>Search: <input ng-model="query">

<div ng-controller="FirstController">
  <p>{{  message }}</p>
</div>

  <p>{{ message }}</p>




  <style>
  .fancy {
      color: green;
      line-height: 50px;
      font-size: 40px;
      width: 200px;
  }

  .error {
    color: red;
    border: 2px solid red;
  }
  </style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="firstController.js" type="text/javascript"></script>
</body>
</html>
